﻿@model Project1.Models.ViewModel.UserProfileView
@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Edit Your Profile</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <span class="alert-success">@ViewBag.Status</span>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SYSUserID)
        <div class="form-group">
            @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @class =
           "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.RoleName)
                @Html.ValidationMessageFor(model => model.RoleName, "", new { @class =
               "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LoginName, htmlAttributes: new { @class =
           "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoginName, new { htmlAttributes = new {
               @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LoginName, "", new { @class =
               "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class =
           "control-label col-md-2" })

           
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new {
               @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class =
               "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class =
           "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new {
               @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class =
               "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class =
           "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new {
               @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class =
               "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class =
           "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Gender, new List<SelectListItem> {
                new SelectListItem { Text="Male", Value="M" },
                new SelectListItem { Text="Female", Value="F" }
                }, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back", "Welcome")
</div>