﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
<br />
No Account yet? @Html.ActionLink("Signup Now!", "SignUp", "Account")
<br />

@Html.ActionLink("Signout", "SignOut", "Account")

<input type="hidden" id="hidUserID" value="@ViewBag.UserID" />
@Html.Partial("ShoutBoxPartial", "Home")


