﻿@{

                ViewBag.Title = "UnAuthorized";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Unauthorized Access!</h2>
<p>Oops! You don't have permission to access this page.</p>
<div>
    @Html.ActionLink("Back to Main", "Welcome", "Home")
</div>
